{% from "_formhelpers.html" import render_field %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
<div align="center">
    <strong>
<a href="http://localhost:5000/">HOME</a>
    <a href="http://localhost:5000/register">REGISTER</a>
<a href="http://localhost:5000/login">LOGIN</a>
    <a href="http://localhost:5000/spell_check">SPELL CHECK</a>
        <a href="http://localhost:5000/history"><font color="red">USER QUERY HISTORY</font></a>
<a href="http://localhost:5000/login_history">USER LOGIN HISTORY</a>
    </strong>
</div>

<form method=post action="">
  <dl>
<div id=numqueries> Total Queries Made By User: {{numqueries}}</div>
<div id=result>{{error}}

<p><input type=submit name='submit_button' value='Check User Query History'>
{{ form.textbox }}
<div id=query#></div>
  </dl>
{%for query in allqueries %}
  <li><a  id="query{{query.queryID}}" href="/history/query{{query.queryID}}">Query #{{query.queryID}}</a></li>
{%endfor %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
</div>