{% from "_formhelpers.html" import render_field %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
<div align="center">
    <strong>
<a href="http://localhost:5000/">HOME</a>
        <a href="<%=encoder.encodeForHTMLAttribute("http://localhost:5000/")%>"></a>
<a href="http://localhost:5000/register">REGISTER</a>
    <a href="http://localhost:5000/login"><font color="red">LOGIN</font></a>
<a href="http://localhost:5000/spell_check">SPELL CHECK</a>
        </strong>
    </div>
<form method=post align="center" novalidate>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{render_field(form.uname)}}
    {{render_field(form.pword)}}
    {{render_field(form.twofa)}}
	{{id}}
      <div id=result>{{message}}</div>
  <p align="center"><input type=submit value=Login>
</form>
</div>